---
layout: page
title: Learning Resources
---
> This section is continually under development, if you have a resource that was helpful to you, please make a pull request on the [github repo](https://github.com/wiqca/wiqca.github.io) for this site to add it to this page!

{% for post in site.categories.resources %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}
